.col-md-4
  %img.movie__poster.img-rounded{ src: @movie.cover }

.col-md-8
  %h1= @movie.headline
  %p= @movie.plot
  %p= @movie.description

  - if user_signed_in?
    %p= link_to 'Email me details about this movie', send_info_movie_path(@movie), class: 'btn btn-sm btn-default'

  %h2 Comments

  = form_for @new_comment do |f|
    = f.hidden_field :user_id
    = f.hidden_field :movie_id
    .form-group
      = f.label :content, "Tell others what you think about #{@movie.title}"
      = f.text_area :content, class: 'form-control'

    = f.submit 'Submit', class: 'btn btn-default'

  - @comments.each do |comment|
    %p
      = comment.content
      %br/
      - if current_user == comment.user
        = link_to "Delete comment", comment_path(comment), method: :delete

